<div class="snap-share-card" [ngClass]="{snapped: bouttontext==='Oops un snap !'}">
    <button routerLink="/snapShare">Retour</button>
    <h1>{{Isac.titre | uppercase}}</h1>
    <p>{{Isac.description}}</p>
    <p>mis en ligne le {{Isac.date | date: "dd/MMMM/YYYY à HH:mm"}}</p>
    <p><img [src]="Isac.imageUrl" [alt]="Isac.titre"></p>
    <p>
        <button (click)="onSnap()">{{bouttontext}}</button>
        ❤️ {{Isac.snaps}}
    </p>
    <p *ngIf="Isac.location">Photo prise à {{Isac.location}}</p>
</div>